@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: darkgray;
}

body {
  background: url(../imagens/fundo-madeira.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

main {
  height: 100vh;
  position: relative;
}

section#telefone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 311px;
  height: 627px;
  background: url(../imagens/frame-iphone.png) no-repeat;
}

iframe#tela {
  position: relative;
  top: 79px;
  left: 22px;
  width: 268px;
  height: 473px;
}

section#redes{
  text-align: right;
}

section#redes img{
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.534);
  box-sizing: border-box;
}

section#redes img:hover{
  border: 4px solid rgba(255, 255, 255, 0.534);
  transform: translate(-4px, -4px);
  box-shadow: 4px 20px 10px rgba(0, 0, 0, 0.534);
  transition: transform .2s, border .2s, box-shadow .2s;
}